{% extends "base.html" %}
{% load static %}
{% block page_contetn %}
<h1>projects</h1>
<h1>projects</h1>
<div class="row">
{% for project in prijects%}
    <div class="col-md-4">
        <div class="col-mb-2">
            <div class="card-img-top" stc="{% static project.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title}}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' Projects.pk %}" class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}